{% extends 'base.html' %}
{% load crispy_forms_tags  %}

{% block content %}

<div class="container">
  <div class="row m-2 p-2">
    <div class="col-md-8">
      {{ post.author }} | {{ post.created_on }}
     <p class=""> {{ post.body }}</p>  
     <br>
     {% if  request.user == post.author %}
     
     <a href="{% url 'social:edit_post' post.id %}" class="btn btn-link text-decoration-none  m-2 p-2" role="button" aria-disabled="true">Edit</a>
     {% endif %}

     <div x-data="{ open: false }">
      <button @click="open = ! open" class="btn btn-success"> <i class="bi bi-chat-left-text-fill"  ></i>  </button>
      
      <form action="" method="POST" class="m-2 p-2" x-show="open" x-transition >
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="comment" class="btn btn-success mt-2 ">
      </form>
      
     
   
    </div>

    
     <hr>
     
   
      
    </div>

    <div class="col-md-8">
      <span>comments</span>
      <br>
      {% if comments %}

      {% for comment  in comments %}

      <p>{{ comment.author }} | {{ comment.created_on }}</p>  
       {{ comment.body }}
       {% if request.user == comment.author %}
       
       
<br>
<a href="{% url 'social:edit_comment' comment.id %}"  class="btn btn-link text-decoration-none "> Edit</a>




       {% endif %}
       <hr>
      {% endfor %}
      {% else %}
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}