{% extends 'base.html' %}




{%  block content %}

<div class="container">   
  
  <div class="row ">  

    <div class="col-md-8 m-4 p-4">

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ profile.picture.url }}" class=" m-2 p-2 img-fluid rounded-start"  alt="...">
           
          </div>
          
          <div class="col-md-8">
            
            <div class="card-body">
              {% if profile.name %}
              <h5 class="card-title">{{ profile.name }}</h5>
              {% endif %}

              {% if profile.bio %}
              <p class="card-text">{{ profile.bio }}</p>

              {% endif %}
              <p class="card-text">

                {% if profile.birth_date %}
                <small class=" text-muted">
                   Date of Birth <i class="bi bi-calendar3"></i>: {{ profile.birth_date }}
                </small>
                {% endif %}
                <br>
                
              
                {% if profile.location%}
                <small class="text-muted">
                  Location <i class="bi bi-geo-alt-fill"></i>: {{ profile.location }}
                </small>
                {% endif %}
              </p>
              
              <a class="btn btn-success" href="{% url 'social:EditProfile' %}" > Update Profile </a> 
            </div>
          </div>
        </div>
      </div>

     <h4> Posts </h4>
      {% if posts %}
      {% for post in posts %}
      <div  class="col-md-6 border-bottom m-2 p-2">
        <a class="text-decoration-none link-dark " href="{% url 'social:post_detail' post.id %}"> 
           <p>{{ post.author }} | {{ post.created_on }} </p>
          {{ post.body | truncatewords:20 }}
        </a>
     
      </div>
      {% endfor %}
      {% endif %}
    </div>


  
    </div>

  </div>
</div>


{% endblock %}